elpa/archives/
/transient/
/quelpa/
/network-security.data
/forge-database.sqlite
/bookmarks
/.org-id-locations
/early-init.el
/projects
/srecode-map.el
/url/
/eln-cache/
/dtache.db
/org-recent-headings
/session.*
/dirvish/
